repos:
- repo: https://github.com/Lucas-C/pre-commit-hooks
  rev: v1.5.5
  hooks:
    - id: remove-crlf
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.6.0
  hooks:
    - id: check-added-large-files
    - id: check-ast
    - id: check-case-conflict
    - id: check-executables-have-shebangs
    - id: check-json
    - id: check-merge-conflict
    - id: check-symlinks
    - id: check-toml
    - id: debug-statements
    - id: detect-private-key
    - id: destroyed-symlinks
    - id: end-of-file-fixer
    - id: fix-byte-order-marker
    - id: mixed-line-ending
    - id: trailing-whitespace
      exclude:  |
        (?x)^(
            .*\.pdb|
            .*\.prmtop
        )$
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.6.3
  hooks:
    - id: ruff-format
    - id: ruff
      args: ["--fix", "--show-fixes"]
- repo: https://github.com/srstevenson/nb-clean
  rev: "3.3.0"
  hooks:
    - id: nb-clean
      args: ["--remove-empty-cells", "--preserve-cell-metadata", "tags", "slideshow", "--"]
