repos:
- repo: https://github.com/nbQA-dev/nbQA
  rev: "1.7.0"
  hooks:
    - id: nbqa-black
      args: ["--nbqa-skip-celltags=before-import"]
    - id: nbqa-pyupgrade
      args: ["--py39-plus"]
    - id: nbqa-isort
      args: ["--nbqa-skip-celltags=before-import"]
    - id: nbqa-check-ast
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: "v4.4.0"
  hooks:
    - id: check-yaml
    - id: check-ast
    - id: fix-byte-order-marker
    - id: check-case-conflict
    - id: check-merge-conflict
    - id: end-of-file-fixer
    - id: mixed-line-ending
    - id: trailing-whitespace
      exclude:  |
        (?x)^(
            .*\.pdb|
            .*\.prmtop
        )$
- repo: https://github.com/kynan/nbstripout.git
  rev: "0.6.1"
  hooks:
    - id: nbstripout
- repo: https://github.com/psf/black
  rev: "23.9.1"
  hooks:
    - id: black
- repo: https://github.com/pycqa/isort
  rev: "5.12.0"
  hooks:
    - id: isort
- repo: https://github.com/pre-commit/pygrep-hooks
  rev: "v1.10.0"
  hooks:
    - id: python-no-eval
    - id: python-use-type-annotations
- repo: https://github.com/asottile/pyupgrade
  rev: "v3.11.0"
  hooks:
    - id: pyupgrade
      args: ["--py39-plus"]
- repo: https://github.com/srstevenson/nb-clean
  rev: "3.0.0"
  hooks:
    - id: nb-clean
      args: ["--remove-empty-cells", "--preserve-cell-metadata", "tags", "--"]
