repos:
- repo: https://github.com/nbQA-dev/nbQA
  rev: "1.5.2"
  hooks:
    - id: nbqa-black
      args: ["--nbqa-skip-celltags=before-import"]
    - id: nbqa-pyupgrade
      args: ["--py39-plus"]
    - id: nbqa-isort
      args: ["--nbqa-skip-celltags=before-import"]
    - id: nbqa-check-ast
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: "v4.3.0"
  hooks:
    - id: check-yaml
    - id: check-ast
    - id: fix-byte-order-marker
    - id: check-case-conflict
    - id: check-merge-conflict
    - id: end-of-file-fixer
    - id: mixed-line-ending
    - id: trailing-whitespace
      exclude:  |
        (?x)^(
            .*\.pdb|
            .*\.prmtop
        )$
- repo: https://github.com/kynan/nbstripout.git
  rev: "0.6.1"
  hooks:
    - id: nbstripout
- repo: https://github.com/psf/black
  rev: "22.8.0"
  hooks:
    - id: black
- repo: https://github.com/pycqa/isort
  rev: "5.10.1"
  hooks:
    - id: isort
- repo: https://github.com/pre-commit/pygrep-hooks
  rev: "v1.9.0"
  hooks:
    - id: python-no-eval
    - id: python-use-type-annotations
- repo: https://github.com/asottile/pyupgrade
  rev: "v2.38.2"
  hooks:
    - id: pyupgrade
      args: ["--py39-plus"]
