[tool.ruff]
line-length = 100
target-version = "py311"

[tool.ruff.lint]
select = ["E", "F", "UP", "B", "I", "PGH", "PL", "RUF"]
ignore = ["F403", "F405", "PLR2004", "PLR0913", "PLR0912", "PLW2901", "PLR0915"]
